body {
    padding: 0;
    margin: 0;
}
.division-1{
    left: 0;
    top: 0;
    
    animation: animate 10s ease-in-out infinite;
    background-size: cover;
    opacity: 0.8;
}
@keyframes animate {
    0%,30%{
        background-image: url(img/catalin-sandru-7SxSkCvVM1U-unsplash.jpg);
    }
    50%{
        background-image: url(img/caio-silva-C7RFkKvThG4-unsplash.jpg);
    }
    90%{
        background-image: url(img/istockphoto-1414428789-1024x1024.jpg);
    }
    70%{
        background-image: url(img/jacek-dylag-ZHr2TzM1-hk-unsplash.jpg);
    }
}
.sub-division-1{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
 .title {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
}
.Logo {
    
}
